.app-container1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    height:100vh;
    width: 100vw;
}

.head1{
    color:rgb(35, 23, 194);
    padding: 10px;
}
.para1{
    padding:30px;
    flex-wrap: wrap;
    margin-top: -30px;
}